
.res-image{
    height: 100px;
    width: 100%;
    
}



.card{
    
    width: 200px;
    border-radius: 5px;
    
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.card > img{
    width: 100%;
    border-radius: 10px;
}








@media only screen and (max-width: 1330px) {
    .res-card {
        width: 15%;
        height: 10%;
    }
  }

  @media only screen and (max-width: 720px) {
    .res-card {
        width: 30%;
        height: 10%;
    }
  }

